@media (max-width: 767.98px) {
  .cards.media {
    flex-direction: column;
  }

  .media-body:after {
    display: block;
    content: "";
    clear: both;
  }

  .image-news {
    display: block;
    max-width: 100%;
    width: auto;
    max-width: 100%;
    height: auto;
  }
}
